<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1>Welcome to My Awesome Cat Page, <%= @user.username %>!</h1>
    <p>
      You have successfully signed up to worldofcats.com,
      your username is: <%= @user.username %>.<br/>
    </p>
    <p>To login, just follow this line: <%= @url %></p>
    <p>Thank you for joining and you'll love our cats!</p>
  </body>
</html>
